body {
    margin: 0;
    padding: 0;
    background-color: #effdfe;
    font-family: Monospace, sans-serif;
}

nav {
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

nav ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #b75a53;
}

#portada {
    text-align: center;
    margin-top: 8em;
}

img {
    width: 50%;
}